:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  justify-content: center;
  margin: 0;
  display: flex;
  place-items: center;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  margin: 5px;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
.card {
  border: 1px solid rgb(33, 159, 233);
  border-radius: 10px;
  box-shadow: 5px 5px 5px black;
  padding: 50px;
  margin: 20px;
  text-align: center;
  max-width: 200px;
  display: inline-block;
}
.card .card-image {
  max-width: 200px;
  max-height: 200px;
  min-width: 200px;
  min-height: 200px;
  border-radius: 50%;
}
.card .card-title {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  color: rgb(254, 255, 192);
}
.card .card-text{
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(255, 255, 255);
}
.welcome-message {
  font-size: 2.5 em;
  background-color: #747bff;
  color: white;
  padding: 10px;
  border-radius: 5px;
  margin: 0;
  text-align: center;
}
.login-prompt {
    font-size: 2.5 em;
    background-color: #ff7974;
    color: white;
    padding: 10px;
    border-radius: 5px;
    margin: 0;
    text-align: center;
  }
.center {
  text-align: center;
}
.flex {
  display: flex;
  justify-content: space-between;
}
.listMargin {
  margin-left: 3%;
}
.categoryColor {
  color: rgb(168, 206, 255);
}
.calories {
  color: #5cee74;
}
.grid {
  display: flex;
  justify-content: space-evenly;
}
.categoryHeader {
  display: inline-flex;
}
.counter-container {
  text-align: center;
  font-family: sans-serif;
}
.count-display {
  font-size: 3em;
  margin: 0;
}
.counter-button {
  margin: 10px;
}
button {
  background-color: #747bff;
  border: #ffffff;
  border-width: 1px;
  border-style: groove;
  box-shadow: black 5px 5px 5px;
}
.color-picker-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
h1{
  margin: 50px;
}
.color-display {
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid whitesmoke;
  border-radius: 10px;
  transition: 0.3s ease;
}

.color-display p {
  color: #242424;
  font-size: 20px;
  font-weight: bold;
}
input[type="color"] {
width: 50px;
height: 50px;
border-radius: 10px;
background-color: transparent;
}
.move-button-up {
  background: none;
  border: transparent;
  box-shadow: none;
  margin: unset;
  padding: unset;
}
.move-button-down {
  background: none;
  border: transparent;
  box-shadow: none;
  margin: unset;
  padding: unset;
}
.delete-button {
  box-shadow: none;
  margin: 5px;
  padding: 5px;
}
